{% extends 'TP/layout.html.twig' %}

{% block menu %}

{% endblock %}

{% block main %}
<h1>Ajouter une nouvelle idée à votre Bucket-List</h1>
    <div>
        {{ form_start(ideaForm) }}
        {{ form_widget(ideaForm) }}
        <button type="submit">Ajouter idée</button>
        {{ form_end(ideaForm) }}
    </div>
    <a href="{{ url('TP_liste') }}">Voir la liste d'idée</a>

{% endblock %}

