{% extends 'TP/layout.html.twig' %}

{% block menu %}

{% endblock %}

{% block main %}
{% for serie in series %}
<div>
    {{ serie.serieName }}
</div>


{% endfor %}
    <a href="{{ url('serie_add') }}">Add new </a>
{% endblock %}

